# Virtual Environment
venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# PyCharm / IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db

# Environment variables
.env

# Python distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Temporary files
*.tmp
*.swp
